<mtapp:setting
    id="author_roles"
    label="<__trans phrase="Author Role(s)">"
    hint="<__trans phrase="Comma separated list of role names for your authors.">"
    show_hint="1">
    <input name="author_roles" id="ghostwriter-author-roles" value="<mt:var name="author_roles" escape="html">" size="60" />
</mtapp:setting>

<mtapp:setting
    id="author_select_type"
    label="Author Selection Type"
    hint="Choose how you'd prefer to select an author for Entry/Page ownership. The dropdown list is the &ldquo;original&rdquo; and faster method, however a popup may be preferred when choosing from many authors."
    show_hint="1">
    <input type="radio" name="author_select_type" id="author_select_type_dropdown" value="dropdown" <mt:If name="author_select_type" eq="dropdown">checked</mt:If> />
    <label for="author_select_type_dropdown">Dropdown list</label><br />

    <input type="radio" name="author_select_type" id="author_select_type_popup" value="popup" <mt:If name="author_select_type" eq="popup">checked</mt:If> />
    <label for="author_select_type_popup">Popup dialog</label>
</mtapp:setting>
